

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}
html{
  scroll-behavior: smooth;
}

body {
  line-height: 1.6;
  background: #f9f9f9;
  color: #333;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}
.container h1{
font-size: 30px;
}
.container h1 span {
  
  color: red;

}
header {
  background: #000;
  padding: 30px 0;
  color: white;
  position: sticky;
  top: 0;
  z-index: 999;
}

.logo {
  width: 150px;
  float: left;
}

nav {
  float: right;
}


nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.hero {
  background: url('image/tailor-bg.jpg') center/cover no-repeat;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.hero-text h1 {
  font-size: 3rem;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

section {
  padding: 50px 0;
}

.service-list {
  list-style: disc;
  margin-left: 20px;
}
.work-list{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap: 40px;
  margin: 50px;

}
.work{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.work img{
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform o.5s;
}
.layer{
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0,0,00.6),beige);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
  text-emphasis-color: white;
}
.layer h3{
  font-weight: 500;
  margin-bottom: 20px;


}
.work:hover img{
  transform: scale(1.1);
}
.work:hover .layer{
  height: 100%;
}

footer {
  background: #000;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-top: 30px;
}
.container p span{
  color: red;

}

.menu-toggle {
  display: none;
  color: white;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: column;
    background: #000;
    padding: 10px;
  }

  nav ul.show {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}